<!-- nav -->
<div class="sidenav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="home()" *ngIf="currentUser && currentUser.temporaryPassword == false">Account</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser && currentUser.temporaryPassword == false">Out</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser == null">Enter</a>

        <a class="nav-item nav-link" *ngIf="currentUser && currentUser.role === 'ADMIN' && currentUser.temporaryPassword == false"
           (click)="addUser()">Add new user</a>
        <a class="nav-item nav-link" (click)="about()" *ngIf="currentUser == null || currentUser.temporaryPassword == false">About</a>
<!--        <a class="nav-item nav-link" (click)="end()">exit</a>-->
    </div>
</div>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">

</div>