<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" *ngIf="currentUser">Домой</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser">Выйти</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser == null">Вход</a>

        <a class="nav-item nav-link" *ngIf="currentUser && currentUser.role === 'ADMIN' && currentUser.temporaryPassword == false"
           (click)="addUser()">Добавить нового пользователя</a>
        <a class="nav-item nav-link" (click)="about()">О программе</a>
<!--        <a class="nav-item nav-link" (click)="end()">Завершение программы</a>-->
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">

</div>