<a class="nav-item nav-link" (click)="end()" *ngIf="isProgramEnd == false">end</a>

<div *ngIf="currentUser && currentUser.temporaryPassword == false && isProgramEnd == false">
    <h1>Username: {{currentUser.username}}</h1>
    <b *ngIf="currentUser.role === 'ADMIN'">Users list:</b>
    <ul *ngIf="currentUser.role === 'ADMIN'">
        <div *ngFor="let user of users">
            <a *ngIf="user.role === 'ADMIN'" class="admin"> {{user.username}} </a>
            <a *ngIf="user.role === 'USER' && currentUser.blockedAt == null" class="user"> {{user.username}}: </a>
            <a *ngIf="user.role === 'USER' && currentUser.blockedAt != null" class="blocked-user"> {{user.username}}: </a>
            <a *ngIf="user.role === 'USER' && user.blockedAt == true" class="text-danger"> (Blocked) {{" | "}}</a>
            <a (click)="deleteUser(user.id)" *ngIf="user.role === 'USER'"> Delete {{" | "}}</a>
            <a *ngIf="user.role === 'USER' && user.blockedAt == false" (click)="blockUser(user.id)"> Block {{" | "}}</a>
            <a *ngIf="user.role === 'USER' && user.blockedAt == true" (click)="unblockUser(user.id)"> Unblock {{" | "}}</a>
<!--            <a *ngIf="user.role === 'USER'" (click)="changePassword(user)" class="text-danger">🔑 {{" | "}}</a>-->
            <a *ngIf="user.role === 'USER' && user.blockedAt == false" (click)="setValidPassword(user.id, !user.validPassword)">Password validation {{ isValidationOfPasswordEnabled(user.validPassword) }}</a>
        </div>
    </ul>

    <a (click)="changePassword(currentUser)">Change your password</a>

</div>

<div *ngIf="isPasswordChangerOpened || currentUser.temporaryPassword == true && isProgramEnd == false">
    <h1 *ngIf="currentUser.temporaryPassword == true"> Need to change temporary password! </h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group" *ngIf="currentUser.temporaryPassword == false && currentUser == selectedUser">
            <label for="oldPassword" >Old password</label>
            <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
        </div>
        <div class="form-group">
            <label for="password">Enter new password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        </div>
        <div>
            <label for="repeatPassword">Repeat password</label>
            <input type="password" formControlName="repeatPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }" />
        </div>
        <!--    <a>Enable password validator {{" "}}</a>-->
        <!--    <input type="checkbox" checked="{{setPasswordValidation()}}" />-->
        <div class="form-group">
            <button [disabled]="loading || !hasDuplicateSymbols" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Изменить пароль
            </button>
            <a routerLink="/login" class="btn btn-link">Закрыть</a>
        </div>
    </form>
</div>
<h1 *ngIf="isProgramEnd">Program is end/h1>

