<h2>Добавление нового пользователя</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Имя пользователя</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Имя пользователя - обязательное поле</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Добавить пользователя
        </button>
    </div>
</form>

<a class="nav-item nav-link" (click)="end()" *ngIf="isProgramEnd == false">Завершение программы</a>
<h1 *ngIf="isProgramEnd">Программа завершена</h1>